<div class="container__big-card">
    <div class="big-card__photo">
        <img
        src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=506&aspectRatio=2.00&format=jpeg"
        alt=""
        height="200px"

        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">bla bla bla lalal cececece afkffjfj
            fefjogljojo ffigggj faladso fefknfkefn gdrtrr
            hrhrtert fhhrhtt nrhrhehr hrhryryryry jtwrw3y6it eeg
            hturtu jktyi6triykfgmhm ghmhhfjfggjfdg ggfj  yjdgrh
            jgkllgjfnh,kfdjjhlil.hjgfhdulillçfyhgm jjfgjfjhfdh</a>
        </p>
    </div>

</div>
