<!-- <div class="container__menu-title">
<hr>
<h1>MARVEL BLOG</h1>
<hr>
</div> -->


<div class="container__menu-title">
  <hr>
  <div class="social-icons">
    <a href="https://www.linkedin.com" target="_blank">
      <img src="" alt="LinkedIn">
    </a>
    <a href="https://www.github.com" target="_blank">
      <img src="" alt="GitHub">
    </a>
  </div>
  <h1><img src="https://image.api.playstation.com/vulcan/img/rnd/202010/2621/H9v5o8vP6RKkQtR77LIGrGDE.png" alt="" srcset=""></h1>
  <hr>
</div>

